<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('common/header'); -%>
    <h1>Privacy Policy</h1>
    <p>All data entered on the user UFO sightings page will be viewable by the public but wont be activly shared amoung thrid partys</p>
</body>
</html>