<link href="/css/shared.css" rel="stylesheet" type="text/css">
<ul id="nav-bar">
    <li><a href="/">Home</a></li>
    <li><a href="/ufo full working stack example">Privacy Policy</a></li>
    <li><a href="/ufo-finder-form">Find UFOS near you</a></li>
    <li><a href="/ufo-create">UFO sighting submit</a></li>
    <li><a href="/user-ufos">UFO submitted sightings</a></li>
</ul>